body {
  margin:0;
  padding:0;
  color:White;
  font-family:Arial,Helvetica,sans-serif;
  background-color:Black;
  background-image:url('/images/sky.jpg');
}


#container {
  width:100%;
  height:100%;
}
#ship {
  position:absolute;
  width:10%;
  height:10%;
}
#shipimg {
  width:100%; 
  height:100%;
}
#preloadbullet {
  display:none;
}


.bullet {
  position:absolute;
  /*background-color:Black;*/
}
.answer {
  position:absolute;
  color:White;
  /*background-color:#CEF6F5;
  color:Black;
  text-align:center;*/
  /*background-image: url('/images/answerbox.png');*/
}
.bulletimg {
  width:100%; 
  height:100%;
}


/*This hides text highlighting */
::-moz-selection {
    background-color:Transparent;
    color:#FFFFFF;
}
::selection {
    background-color:Transparent;
    color:#FFFFFF;
}

